<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educación 1</h1> - <h3>(info)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia deleniti dolorum cum quo, consequatur quisquam molestias corporis, voluptates optio omnis praesentium iste officia fuga, qui ipsa minus non expedita.
            </p>
        </ul>
        <ul>
            <li><h1>Educación 2</h1> - <h3>(info)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia deleniti dolorum cum quo, consequatur quisquam molestias corporis, voluptates optio omnis praesentium iste officia fuga, qui ipsa minus non expedita.
            </p>
        </ul>
        <ul>
            <li><h1>Educación 3</h1> - <h3>(info)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia deleniti dolorum cum quo, consequatur quisquam molestias corporis, voluptates optio omnis praesentium iste officia fuga, qui ipsa minus non expedita.
            </p>
        </ul>
    </div>
</div>    